<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>What are personal <br><em>values? </em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>                    
                                <li>The ways in which we see our world are influenced by the beliefs and values that
                                shape our lives and give us purpose. Values define what is important to us. Each
                                person has a unique set of values. </li>
                            <li>Values determine the criteria by which we judge whether something is worthwhile
                                or not. Thus, if we value healthy eating, we may reject activities that do not
                                support this value.</li>
                            <li>Values set the filters which direct attention to some things rather than others.
                                Values also motivate. They influence what we move towards or away from. </li>
                            <li>Conflicts may occur between values. For instance, some values may be mutually
                                exclusive – like those influencing the desire to be slender and those leading us
                                towards cream cakes. We may then waver from one value to the other – and shift
                                in our behaviour from overeating to crash dieting. On the other hand, some
                                values may consistently override others – for a workaholic, work may win out
                                over play. All values are useful, but some are more useful than others.
                            </li>
                            <li>Usually we know some of our values at the conscious level, recognising perhaps
                                that ‘Health’ and ‘Wellness’ are important to us. Other values may be unknown to
                                us, but yet influence us. Both the values we are aware of and those we don’t
                                know can influence us unconsciously. When we find ourselves feeling
                                uncomfortable or rejecting something because it ‘feels wrong’, it is generally
                                because some value is active. The value may not necessarily be in our conscious
                                awareness, but nonetheless influences the quality and direction of our behaviour.
                            </li>
                            <li>Becoming more aware of our values and how they relate to each other helps us
                                become more aware of what is motivating us and allows us greater choice. As we
                                discover what’s truly important to us, our life’s direction naturally comes into
                                alignment with that.
                            </li>
                            <li>Our values strongly affect whether we are congruent about a goal we have set
                                ourselves. They represent what is important to us and are supported by beliefs.
                                Values are related to our identity. We really care about them; they are the
                                fundamental principles we live by. To act against our values will make us
                                incongruent. Values give us motivation and direction. The most lasting and
                                influential values are freely chosen and not imposed. They are chosen with
                                awareness of the consequences, and carry many positive feelings. </li>
                            <p>
                                Here are some examples of value statements associated with the work, social
                                / recreational and family environments.
                            </p>
                            <li>You may state that you think it is important that your work involvement is most
                                satisfying when it
                                <ol>
                                    <li> Is team based</li>
                                    <li> Offers opportunities for taking initiative</li>
                                    <li>Is a balanced part of life with fairly tight boundaries </li>
                                    <li>Offers you a chance to develop yourself as a person</li>
                                </ol>
                            </li>
                            <li>That your social / recreational involvement is most satisfying when it offers
                                some
                                <ol>
                                    <li>Elements of challenge</li>
                                    <li>Provides opportunities to learn something new on a regular basis</li>
                                    <li>Allows you to put something good back into society</li>
                                    <li>Provides time to unwind and relax.</li>
                                </ol>
                            </li>
                            <li>That your family life is best when
                                <ol>
                                    <li> It allows time together as a whole family</li>
                                    <li> Family members engage in some recreational/ social activities together</li>
                                    <li> The family has reasonable financial security</li>
                                    <li>Routine tasks and chores are efficiently dealt with on a basis of mutual
                                        co-operation</li>
                                </ol>
                            </li>
                            <li>In sum, what is important to you – your personal values - is a life that has every
                                chance of being satisfying and leading to a higher sense of personal well-being.
                            </li>
                            <li>When satisfaction is low, the way forward is firstly to become aware of what your
                                values are and then to examine how you are currently trying to realise them
                                through your activities across each of your life spaces.</li>
                            <li> Understanding your own Values and raising satisfaction levels
                                <ol>
                                    <li>Look at Dimension One of your Profile (Satisfaction with Lifestyle) and
                                        the associated sub-scales. </li>
                                    <li> Notice how you score </li>
                                    <li>These are the places where opportunities to have experiences that you
                                        most value are either not currently available to you or your current
                                        competencies are not sufficiently high to realise your valued outcomes</li>
                                    <li>Note down which contexts they are. </li>
                                </ol>
                            </li>
                            <li> Now is a good time to make a change and the starting point to change is
                                capturing your unique set of values. You can do this by completing the reflective
                                exercise below</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
