<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Capture your personal set of values and <em>interests and use them to
                            move forward</em> </h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                                <li>At the end of this exercise you will know more clearly:
                                <ol>
                                <li>What your values and interests are. </li>
                                <li>Which are the most important to you across your life. </li>
                                <li>Which are important to you in a single life space e.g. work. </li>
                                <li>Which values and interests are not being sufficiently well realised in
                                    your life at the moment. </li>
                                <li>Which actions that will move you forward, increasing your satisfaction
                                    and fulfilment. </li>
                                </ol>
                            </li>
                            <li>Everyone can benefit from doing this exercise. Most people will be comfortable
                                and find it effective as well as satisfying to do this exercise on their own. The
                                involvement of a second person in the exercise - someone trusted and
                                comfortable to be with - can often help the first person to reflect. It may be that
                                this person is a Wellness, Life or Executive Coach. The choice of how you are
                                going to do the exercise is yours.</li>

                            <div class="section-heading">
                                <h1>Step <em>one:</em></h1>
                            </div>
                            <li>Allocate yourself a reasonable amount of time to do the exercise because it will
                                work best if you are not rushed and can allow your thoughts to easily emerge. An
                                hour to an hour and a half would be good and if as sometimes happens you need
                                a bit longer it’s all right just to carry on or take a break and come back to
                                complete it later on. </li>
                            <li>Choose a place to do the exercise, indoors or outside, where you will be
                                undisturbed, physically comfortable, feel ‘at one with your self and are able to
                                write easily. </li>
                            <li>Take with you at least four sheets of paper of A4 size or bigger and something to
                                write with. </li>

                            <div class="section-heading">
                                <h1>Step <em>two:</em></h1>
                            </div>
                            <li>
                                Label each sheet of paper, the first ‘Work’, the second ‘Social/Recreational’, and
                                the third ‘Family/Friends’.
                            </li>
                            <div class="section-heading">
                                <h1>Step <em>three:</em></h1>
                            </div>
                            <li>Draw in the top half of each sheet a large circle with a number of lines going from
                                the centre like the spokes of a bicycle wheel. Start with about 4 or 5 spokes - you
                                can add more later. Make them well spaced as you are going to write on them in
                                a moment. </li>
                            <div class="section-heading">
                                <h1>Step <em>four:</em></h1>
                            </div>
                            <li> Now choose one area that you would like to reflect on first - either ‘Work’,
                                ‘Social/Recreational’ or ‘Family/Friends’. </li>
                            <li>Relax as you begin the exercise and prepare to let it flow.
                                <ol>
                                    <li>Allow your mind to connect with the area of experience that you have chosen
                                        and reflect on what it is that is important to you about this area of experience
                                    </li>
                                    <li>Be aware of any words that pop into your head as you reflect. Jot them down
                                        noting one word or two on each spoke. </li>
                                    <li>Resist the temptation to write more. </li>
                                    <li>Remember there are no right or wrong answers, just your responses so let it
                                        flow (add extra spokes as necessary). </li>
                                </ol>
                            </li>
                            <li> It can be of extra help in finding the words to ask yourself
                                <ol>
                                    <li>“What do I find worthwhile about what I do in this area?”</li>
                                    <li>“What interests me in this area?’ both now and in relation to previous
                                        times when your involvement was more satisfying and fulfilling.”</li>
                                </ol>
                            </li>
                            <li>Repeat this exercise for each of the other two areas. </li>

                            <div class="section-heading">
                                <h1>Step <em>five:</em></h1>
                            </div>
                            <li>
                                Now look across the three aspects of Work, Social/Recreational and
                                Family/Friends and see if there are any linkages between the words in each area.
                                <ol>
                                    <li>These linkages are values or interests that connect across areas of life.</li>
                                    <li>These overarching values and interests have considerable significance in
                                        your life activities. </li>
                                    <li>These overarching values and interests have considerable significance in
                                        your life activities. </li>
                                </ol>
                            </li>
                        </ul>
                            <p>Now you have a “map” of your personal values and interests</p>
                        </div>
                        <div class="section-heading">
                            <h1>Aligning your personal values <em>and your life experience</em></h1>
                        </br>
                        <ul>
                        <li>You are now in a position to evaluate your life, and act to increase your levels of
                            satisfaction. To do this you will use your values and interests map to consider
                            whether they are being sufficiently realised and expressed in your life right now.
                            You will also, importantly, be able to detect which values and interests are not
                            being met to the level you would need to give you sufficient levels of personal
                            satisfaction and fulfilment. You will want to protect the former and act on the latter
                            as you move into your more satisfying future life space.
                        </li>

                        <div class="section-heading">
                            <h1>Step <em>one:</em></h1>
                        </div>
                        <li>Again allocate an appropriate amount of time and find an appropriate space to
                            work in. You will be using your fourth sheet of paper for this part of the
                            exercise.</li>

                        <div class="section-heading">
                            <h1>Step <em>two:</em></h1>
                        </div>
                        <li>Split your sheet into three columns. Write your set of values/interests in the lefthand column
                            headed ‘Values/Interests’.
                            At this stage, if possible, it is useful to list
                            them in groups of words that are related such as ‘sharing-attachment-company’
                            or ‘challenge-achieve-grow’. These are the linked values identified in Part One of
                            this exercise. </li>

                        <div class="section-heading">
                            <h1>Step <em>three:</em></h1>
                        </div>
                        <li>Head the middle column ‘Rating Satisfaction’ Here you are asked to consider
                            each value or groups of values and interests in terms of the extent to which these
                            values are being satisfied in different areas of your life. Draw a horizontal line
                            about 6 centimetres (3 inches) long next to each ‘group’ with a number 1 at he
                            left hand end of each line and a10 at the right hand end. <br>
                            1 ------------------------- 5 ------------------------- 10
                        </li>
                        <li> 1 denotes no real match between what you value and what life is delivering; in
                            other words, there is no satisfaction from this. 10 means a great match, an
                            excellent source of satisfaction whilst 5 means a moderate delivery of
                            satisfaction, and could be better.
                        </li>
                        <li>For each value and interest for the relevant aspect, mark on the line where you
                            are now. Be guided by your sense of where it is rather than thinking too much;
                            this is a place where first impressions are likely to be best.
                        </li>
                        <li>Every score can tell you something. Those lines where you have marked the
                        more extreme scores, (either 9 or 10) are the values and interests in your life that you are realising the deepest wells of satisfaction and fulfilment now. Alternatively scores of 1or 2 point to the sources of most dissatisfaction.

                        </li>
                        <div class="section-heading">
                            <h1>Step <em>four:</em></h1>
                        </div>
                        <li>Head the right-hand column ‘Actions’. Firstly note any value words that you gave
                            a ten. These are excellent generators of satisfaction for you, but don’t be alarmed
                            if you haven’t got any, as this is not particularly unusual. A score less than ten
                            indicates that changing in some way what you are currently doing can contribute
                            to increased satisfaction for you. The further your score is from a 10 then the less
                            successful what you are currently doing is in enabling what you value. It indicates
                            the more potential for change that will increase satisfaction levels - but, equally,
                            the more you will need to change what you are currently doing </li>
                        <div class="section-heading">
                            <h1>Step <em>five:</em></h1>
                        </div>
                        <li>Decide what actions in both the short and long term that you could take to
                            achieve higher scores in your areas for change. This may include asking other
                            people for suggestions to help you create a pool of possibilities. The further your
                            score is from 9 or 10 the more change actions you need to find. So for a 7 now
                            you might decide on one or two things to do, whereas for a score of 4 you may
                            decide on three or four things to do to enable you to realise higher satisfaction
                            scores. </li>
                        <li>Record the actions that you decide would be helpful to your goal of moving your
                            satisfaction levels up from where they are at the moment. </li>
                        <li> It may be that you have now come up with many actions that you can take. That’s
                            good. You need however to be realistic in what you expect of yourself and so
                            prioritise what you are going to do. Start with the highest priorities. You may
                            decide to leave some lower priority actions until after the higher order priorities
                            have been achieved. </li>
                        <li>Give yourself a time span in which to carry out some change actions and create a
                            goal by rating where you aim to be within that time-span on each satisfaction line.
                            Remember to focus on progress towards higher satisfaction levels rather than
                            perfection that is your goal and you can achieve it. </li>
                        <li>A different approach to identifying your core values and discovering what they
                            may mean for you is outlined in the following exercise. This exercise can provide
                            extra dimensions to what you explored in the two-part exercise above. What it
                            reveals can be applied in particular to Part Two of the previous exercise. Take
                            your prioritised values and assess the extent to which your top ten values match
                            your current satisfaction with important elements of your life. </li>
                            </ul>
                            </div></div></div></div>
            </section>
</div>