<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
  <section id="projects2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Personal and <em>Work Values</em></h1>
                    <ul>
                    <li>Select from the list of values below ten that you consider the most important part
                        of your personal and work life as guides for how to behave, or as components of
                        a valued way of life. If you want to add any to the list please do so. </li>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>Achievement Change and variety</td>
                            <td>Advancement/promotion Close working relationships</td>
                            <td>Challenging Community</td>
                        </tr>
                        <tr>
                            <td>Competence</td>
                            <td>Competition</td>
                            <td>Co-operation</td>
                        </tr>
                        <tr>
                            <td>Democracy</td>
                            <td>Ecological awareness</td>
                            <td>Effectiveness</td>
                        </tr>
                        <tr>
                            <td>Efficiency</td>
                            <td>Ethical practice</td>
                            <td>Excellence</td>
                        </tr>
                        <tr>
                            <td>Excitement</td>
                            <td>Expertise</td>
                            <td>Fast-paced work</td>
                        </tr>
                        <tr>
                            <td>Financial gain</td>
                            <td>Freedom</td>
                            <td>Helping others</td>
                        </tr>
                        <tr>
                            <td>Honesty</td>
                            <td>Independence</td>
                            <td>Influencing others</td>
                        </tr>
                        <tr>
                            <td>Innovation</td>
                            <td>Integrity</td>
                            <td>Intellectual challenge</td>
                        </tr>
                        <tr>
                            <td>Involvement</td>
                            <td>Job tranquillity</td>
                            <td>Knowledge</td>
                        </tr>
                        <tr>
                            <td>Leadership</td>
                            <td>Loyalty</td>
                            <td>Meaningful work</td>
                        </tr>
                        <tr>
                            <td>Being open and honest</td>
                            <td>Order</td>
                            <td>Personal development</td>
                        </tr>
                        <tr>
                            <td>Pleasure</td>
                            <td>Power and authority</td>
                            <td>Privacy</td>
                        </tr>
                        <tr>
                            <td>Quality relationships</td>
                            <td>Recognition</td>
                            <td>Reputation</td>
                        </tr>
                        <tr>
                            <td>Responsibility</td>
                            <td>Respect for people</td>
                            <td>Risk taking</td>
                        </tr>
                        <tr>
                            <td>Security</td>
                            <td>Self-respect</td>
                            <td>Serenity</td>
                        </tr>
                        <tr>
                            <td>Stability</td>
                            <td>Status</td>
                            <td>Supervising others</td>
                        </tr>
                        <tr>
                            <td>Teamwork</td>
                            <td>Time freedom</td>
                            <td>Truth</td>
                        </tr>
                        <tr>
                            <td>Wisdom</td>
                            <td>Work under pressure</td>
                            <td>Work with others</td>
                        </tr>
                        <tr>
                            <td>Working alone</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <br>
                    <li>Now that you have identified ten values that are very important to you, put
                        them in order of personal priority by using the Guide for Prioritising Values. </li>
                    </ul>
                       <div class="section-heading">
                        <h1>Guide for <em>Prioritising Values</em></h1>
                        </div>
                    <ul>                 
                    <li>List the values you want to put in order
                        <ol>
                            <li>Number each value</li>
                        </ol>
                    </li>
                    <li> Prepare a numbers grid
                        <ol>
                            <li>Take one value and pair it with each of the others by writing the value’s
                                number beside it in a column, as in Column A below. Repeat this with
                                each succeeding value, dropping down one space each time. </li>
                        </ol>
                    </li>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>A</td>
                            <td>B</td>
                            <td>C</td>
                            <td>D</td>
                            <td>E</td>
                            <td>F</td>
                            <td>G</td>
                            <td>H</td>
                            <td>I</td>
                        </tr>
                        <tr>
                            <td>1 2</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 3</td>
                            <td>2 3</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 4</td>
                            <td>2 4</td>
                            <td>3 4</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 5</td>
                            <td>2 5</td>
                            <td>3 5</td>
                            <td>4 5</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 6</td>
                            <td>2 6</td>
                            <td>3 6</td>
                            <td>4 6</td>
                            <td>5 6</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 7</td>
                            <td>2 7</td>
                            <td>3 7</td>
                            <td>4 7</td>
                            <td>5 7</td>
                            <td>6 7</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 8</td>
                            <td>2 8</td>
                            <td>3 8</td>
                            <td>4 8</td>
                            <td>5 8</td>
                            <td>6 8</td>
                            <td>7 8</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 9</td>
                            <td>2 9</td>
                            <td>3 9</td>
                            <td>4 9</td>
                            <td>5 9</td>
                            <td>6 9</td>
                            <td>7 9</td>
                            <td>8 9</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>1 10</td>
                            <td>2 10</td>
                            <td>3 10</td>
                            <td>4 10</td>
                            <td>5 10</td>
                            <td>6 10</td>
                            <td>7 10</td>
                            <td>8 10</td>
                            <td>9 10</td>
                        </tr>

                    </table>
                    <p>You can build a numbers grid for as many values as you need.
                    </p>
                    <li>Make simple decisions
                        <ol>
                            <li>Go to Column A and consider each pair by itself. The first pair is 1 and
                                2, so ask yourself, “If I could have only one of these two values, which
                                one would I prefer?” Whatever the answer, you circle the number
                                corresponding to your choice. </li>
                            <li>Then you go on to the next pair in Column A: 1 3, and again ask
                                yourself, “If I could have only one of these two values, which one would
                                I prefer?”. Again, circle the number that corresponds to your choice. </li>
                            <li>Go on and make your choices for each succeeding pair in Column A,
                                then Columns, B, C, D, E, F, G, H and I. For each pair of numbers in
                                each column you make a choice by repeatedly asking yourself: “If only
                                I could have one of these two, which would I prefer?”
                            </li>
                        </ol>
                    </li>
                    <li>Total up the number of times each number was circled
                    </li>
                    <li>Rearrange the numbers in order of preference
                        <ol>
                            <li>Your list is now prioritised.</li>
                        </ol>
                    </li>
                    <li>The final step is to examine the list and see whether your intuition agrees. If it
                        disagrees, change the list. If you have a tie between values, you can leave
                        them tied or use intuition to choose one over the other. This technique is
                        designed to serve you, not you it. You and your intuition are the final judge. If
                        you disagree with the final ordering of values, change it. </li>
                    <li>Take a look at the top three values on your list</li>
                    <li>What do they mean exactly? What are you expecting from yourself – even in
                        bad times? </li>
                    <li>In what ways do they affect your wellness behaviours? Be as specific as
                        possible. </li>
                    <li>Can you identify any occasion in the recent past when any of your core values
                        were challenged in relation to your development of personal wellness? What
                        were the circumstances, and what was the outcome? </li>
                     </ul>
                            </div>
                        </div>
                    </div>
            </section>    
</div>
